{% extends "base_en.html" %}
{% block title %} sign up {% endblock %}
{% block content %}
<div class="login" style="margin-top:50px;">
    <!--注册-->
    <div class="qlogin" id="qlogin" style="display: block;">

        <div class="web_login">
            <form name="form2" id="regUser" accept-charset="utf-8"  action="" method="post" class="center w-240">
            {% csrf_token %}
                <input type="hidden" name="to" value="reg"/>
                <input type="hidden" name="did" value="0"/>

                        <div class="pd-10 w-240">
                        <label class="input-tips2">email: </label>
                            <p>{{ form.username }}</p>

                        </div>


                        <div class="pd-10">
                        <label class="input-tips2">password: </label>
                            <p>{{form.password}}</p>
                        </div>

                        <div class="pd-10 w-240">
                        <label class="input-tips2">Confirm password:</label>
                            <p>{{form.passwordagain}}<p>

                        </div>


                        <input type="submit" style="margin-top:10px;margin-left:85px;" class="btn btn-default" value="注册"/>
                    </li><div class="cl"></div>
                </ul>
            </form>


        </div>


    </div>
    <!--注册end-->
</div>
{% endblock %}
