{% extends "base.html" %}
{% block content %}
<form action="" method="post"> {% csrf_token %}
    <p>标题</p>
        <input type="text" name="title">
    <p>内容</p>
        <script id="container" name="content" type="text/plain">
            这里写你的初始化内容
        </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/static/uedit/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/uedit/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = UE.getEditor('container');
    </script>
</form>
{% endblock %}