{% extends "base_en.html" %}
{% block title %} Article {% endblock %}
{% block content %}

{% for year in yearList %}
<div style="padding-top:20px;padding-left:20px;padding-bottom:20px;">
    <p>{{year}}</p>
        {% for article in articleList %}
            {% if article.pub_time.year == year %}
	<p><span>{{ forloop.counter }}</span><strong>&nbsp;&nbsp;&nbsp;<a href="{{article.href}}">{{article.title}}</a></strong>
        </br>{{article.author}}</p>
            {% endif %}
        {% endfor %}
{% endfor %}

{% endblock %}
