{% extends "base.html" %}
{% block title %} 项目进展 {% endblock %}
{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" style="padding-top:20px">
          <div id="list" class="list-group-item">
            <ul class="nav nav-pills nav-stacked">
                {% for category, projects in projectDict.items %}
                <li><h3>{{category}}</h3></li>
                {% for project in projects %}
                <li><a href="" class="get" data-id="{{project.name}}">{{project.name}}</a></li>
                {% endfor %}
                {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 sidebar-offcanvas" id="sidebar" style="padding-top:20px">
          <p>
              {{ content }}
          </p>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/progress.js"></script>
{% endblock %}
