{% extends "base.html" %}
{% block title %} 项目进展 {% endblock %}
{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" style="padding-top:20px">
          <div id="list" class="list-group-item">
            <ul class="nav nav-pills nav-stacked">
                {% for category, projects in projectDict.items %}
                <li><h3>{{category}}</h3></li>
                {% for project in projects %}
                <li><a href="" class="get" data-id="{{project.name}}">{{project.name}}</a></li>
                {% endfor %}
                {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 sidebar-offcanvas" id="content" style="padding-top:20px">
          <p>
              研究方向二:热带病诊断和病原鉴别技术的开发及应用研究
              热带病诊断和病原鉴别技术是热带病防治的基础技术,在临床诊断、疗效判定和流行
              病学调查中均具有重要的作用。热带病(原学)重点实验室除了要充分掌握和利用现有成熟
              的热带病基本诊断和病原鉴别技术外,还要不断地跟踪国内外的研究进展,不断地将新技术
              移植应用于基础研究的同时,积极探讨其临床实际应用的可行性。重点利用分子生物学、基
              因组学、蛋白质组学、免疫学、细胞生物学和现代组织(免疫)病理技术的方法和手段寻找
              热带病诊断和治疗的新的靶点,争取研究开发出具有自主知识产权的热带病诊断和病原鉴别
              技术,并将这些技术应用于临床和流行病学研究。努力争取将实验室建设成为具有发现、诊
              断和鉴定新的热带病病原能力的国内权威实验室。
          </p>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/progress.js"></script>
{% endblock %}
